<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Default" connectionString="Max Pool Size = 512;server=.;uid=sa; pwd=esun5005;database=ESUNNET" providerName="System.Data.SqlClient"/>
    <add name="oracle1" connectionString="Provider=MSDAORA.1;User ID=Techsung;Password=Techsung;Data Source=(DESCRIPTION = (ADDRESS_LIST= (ADDRESS = (PROTOCOL = TCP)(HOST =192.168.122.161)(PORT = 1521))) (CONNECT_DATA = (SERVICE_NAME = xceccac)))"/>
  

    <add name="oracle" connectionString="User ID=Techsung;Password=Techsung;Data Source=xceccac;"/>

  </connectionStrings>
  <appSettings>
    <add key="port" value="8085"/>
  </appSettings>
</configuration>
