<?xml version="1.0"?>
<configuration>
    <connectionStrings>
    <add name="Default" connectionString="Max Pool Size = 512;server=.;uid=sa; pwd=esun5005;database=ESUNNET" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="address" value="127.0.01"/>
    <add key="port" value="8085"/>
  </appSettings>
</configuration>
